In [53]:
import pandas as pd
import pickle

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [55]:
df = pd.read_csv('salary.csv')

In [203]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [56]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0], df.iloc[:,1])

In [57]:
lin_reg = LinearRegression()
lin_reg.fit(np.array(X_train).reshape(-1,1), np.array(y_train).reshape(-1,1))

LinearRegression()

In [58]:
lin_reg.predict(np.array(X_test).reshape(-1,1))

array([[ 65130.83749598],
       [ 64289.84143759],
       [119795.58129114],
       [ 81950.75866372],
       [ 74381.79413824],
       [ 49992.90844501],
       [111385.62070727],
       [ 44105.9360363 ],
       [ 62607.84932082]])

In [59]:
dbfile = open('lin_reg', 'ab')
      
    # source, destination
pickle.dump(lin_reg, dbfile)                     
dbfile.close()

In [200]:
dbfile = open('lin_reg', 'rb')     
db = pickle.load(dbfile)
db.predict([[1.4]])

array([[41760.39251024]])